# Question 1
Suppose that the data for analysis includes the attribute age. The age values for the
data tuples are (in increasing order) 13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25,
30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70. </br>
(a) Use min-max normalization to transform the values of age to the range[0:1]. </br>
(b) Use z-score normalization to transform the values of age. </br>
(c) Use normalization by decimal scaling to transform the values of age such that the transformed
value is less than 1.

In [ ]:
from scipy.stats import zscore
import pandas as pd


from IPython.display import Javascript
display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))


# Create a sample df
df = pd.DataFrame({'Age': [13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70]})

# Calculate the min-max and drop min-max into new column
df['min-max'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())    

# Calculate the zscores and drop zscores into new column
df['z_score'] = zscore(df['Age'])

# Calculate the decimal scaling and drop decimal scaling into new column
p = df['Age'].max()
q = len(str(abs(p)))
df['decimal_scaling'] = df['Age']/10**q

display(df)

    Age   min-max   z_score  decimal_scaling
0    13  0.000000 -1.335646             0.13
1    15  0.035088 -1.178168             0.15
2    16  0.052632 -1.099429             0.16
3    16  0.052632 -1.099429             0.16
4    19  0.105263 -0.863212             0.19
5    20  0.122807 -0.784473             0.20
6    20  0.122807 -0.784473             0.20
7    21  0.140351 -0.705734             0.21
8    22  0.157895 -0.626995             0.22
9    22  0.157895 -0.626995             0.22
10   25  0.210526 -0.390779             0.25
11   25  0.210526 -0.390779             0.25
12   25  0.210526 -0.390779             0.25
13   25  0.210526 -0.390779             0.25
14   30  0.298246  0.002916             0.30
15   33  0.350877  0.239133             0.33
16   33  0.350877  0.239133             0.33
17   35  0.385965  0.396611             0.35
18   35  0.385965  0.396611             0.35
19   35  0.385965  0.396611             0.35
20   35  0.385965  0.396611             0.35
21   36  0.403509  0.475350             0.36
22   40  0.473684  0.790306             0.40
23   45  0.561404  1.184001             0.45
24   46  0.578947  1.262740             0.46
25   52  0.684211  1.735173             0.52
26   70  1.000000  3.152474             0.70

# Question 2
Use the given dataset and perform the operations listed below.
Dataset Description
Attributes in the dataset:
  * Date - The date of the observation
  * Average Price - the average price of a single avocado
  * type - conventional or organic
  * year - the year
  * Region - the city or region of the observation
  * Total Volume - Total number of avocados sold
  * 4046 - Total number of avocados with PLU* 4046 sold
  * 4225 - Total number of avocados with PLU* 4225 sold
  * 4770 - Total number of avocados with PLU* 4770 sold

</br>(Product Lookup codes (PLU’s)) *

a. Sort the attribute “Total Volume” in the given dataset and distribute the data into equal
sized/frequency bins. Let the number of bins be 250. Smooth the sorted data by
* (i)bin-means 
* (ii) bin-medians 
* (iii) bin-boundaries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
import plotly.express as px

from IPython.display import Javascript
display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))

pd.set_option('display.expand_frame_repr', False) 

df = pd.read_csv('Avocado_Dataset.csv')
df_sorted = df.sort_values(by='Total Volume', ascending=True).reset_index()
df_sorted['Total Volume'] = df_sorted['Total Volume'].astype(int)


# Binning with equal frequency
qc, bins = pd.qcut(df_sorted['Total Volume'], q=250, precision=0, retbins=True)
print("Binning with equal frequency...........")
print(qc.value_counts())
print()
print(bins)
print("\n\n\n\n")
# print([i for i in qc])


# Binning with equal width
s_cut, bins = pd.cut(df_sorted['Total Volume'], 250, retbins=True)       # With retbins=True, we can get bins, i.e., a list of boundary values in addition to the binned data.
print("Binning with equal width...........")
print(s_cut.value_counts())
print()
print(bins)

# Smooth the sorted data by bean means
df1 = pd.DataFrame()
df1['Total Volume'] = df_sorted['Total Volume']
df1['bin'] = pd.cut(df1['Total Volume'], 250, include_lowest=True, right=False)
df1['mean'] = df1.groupby('bin')['Total Volume'].transform('mean')
del df1['Total Volume']
# df1.reset_index(drop=True)
df1 = df1.drop_duplicates()
print()
print(df1)


# Smooth the sorted data by bean median
df1 = pd.DataFrame()
df1['Total Volume'] = df_sorted['Total Volume']
df1['bin'] = pd.cut(df1['Total Volume'], 250, include_lowest=True, right=False)
df1['median'] = df1.groupby('bin')['Total Volume'].transform('median')
del df1['Total Volume']
# df1.reset_index(drop=True)
df1 = df1.drop_duplicates()
print()
print(df1)


# Smooth the sorted data by bean boundary
def boundry_settle(quantile, value):
  a, b = quantile.split(", ")
  a = float(a.strip("("))
  b = float(b.strip("]"))
  if value - a < b - value:
    return a
  else:
    return b

df1 = pd.DataFrame()
df1['Total Volume'] = df_sorted['Total Volume']
df1['bin'] = pd.qcut(df1['Total Volume'], 250).astype(str)
df1['bin_boundary'] = df1.apply(lambda row: boundry_settle(row["bin"], row["Total Volume"]), axis = 1)
del df1['Total Volume']
df1 = df1.drop_duplicates()
print()
print(df1)

Binning with equal frequency...........
(125592.0, 128166.0]    74
(2570.0, 2700.0]        74
(497040.0, 509215.0]    74
(16167.0, 16746.0]      74
(10497.0, 10726.0]      74
                        ..
(8933.0, 9146.0]        72
(35304.0, 37425.0]      72
(10726.0, 10967.0]      72
(509215.0, 523631.0]    72
(128166.0, 131634.0]    72
Name: Total Volume, Length: 250, dtype: int64

[8.40000000e+01 9.35992000e+02 1.11799200e+03 1.23300000e+03
 1.36498400e+03 1.49088000e+03 1.62490400e+03 1.73900000e+03
 1.83496800e+03 1.95596400e+03 2.08192000e+03 2.16895600e+03
 2.29190400e+03 2.42794800e+03 2.56988800e+03 2.70000000e+03
 2.81900000e+03 2.93993200e+03 3.04600000e+03 3.16477200e+03
 3.29900000e+03 3.42291600e+03 3.52891200e+03 3.62790800e+03
 3.77500000e+03 3.89680000e+03 4.03968800e+03 4.14878400e+03
 4.27288800e+03 4.41965200e+03 4.59188000e+03 4.73762800e+03
 4.90400000e+03 5.07600000e+03 5.25759200e+03 5.41730000e+03
 5.58085600e+03 5.74400000e+03 5.90284800e+03 6.09053200e+03
 6.33436000e+03 6.51967200e+03 6.68866400e+03 6.86582800e+03
 7.05700000e+03 7.22982000e+03 7.43781600e+03 7.58781200e+03
 7.77400000e+03 7.96941200e+03 8.16920000e+03 8.34979600e+03
 8.52279200e+03 8.70378800e+03 8.93300000e+03 9.14634000e+03
 9.33010400e+03 9.53694800e+03 9.77914400e+03 1.00348760e+04
 1.02922800e+04 1.04972920e+04 1.07260000e+04 1.09669920e+04
 1.12534880e+04 1.15487400e+04 1.18529440e+04 1.21841240e+04
 1.24403680e+04 1.28053440e+04 1.32154800e+04 1.36368760e+04
 1.39599840e+04 1.43361240e+04 1.47174080e+04 1.51870000e+04
 1.56459600e+04 1.61665360e+04 1.67460000e+04 1.72926840e+04
 1.77841600e+04 1.83687320e+04 1.89843440e+04 1.97987000e+04
 2.05736560e+04 2.13975800e+04 2.21749040e+04 2.31826920e+04
 2.41585520e+04 2.50143040e+04 2.59186400e+04 2.70138080e+04
 2.81117440e+04 2.91125360e+04 3.04703600e+04 3.18051000e+04
 3.38293120e+04 3.53040000e+04 3.74254560e+04 4.01030200e+04
 4.21214000e+04 4.47160120e+04 4.70723280e+04 4.96890760e+04
 5.25031840e+04 5.50420800e+04 5.75884320e+04 5.99572960e+04
 6.24328960e+04 6.44581280e+04 6.72071600e+04 6.92333360e+04
 7.10510080e+04 7.36892200e+04 7.59992640e+04 7.94974800e+04
 8.17009680e+04 8.45857920e+04 8.74061280e+04 8.97639280e+04
 9.26078400e+04 9.54750000e+04 9.84241120e+04 1.01154620e+05
 1.04394704e+05 1.07365000e+05 1.10839552e+05 1.13411712e+05
 1.16273984e+05 1.19040872e+05 1.22089960e+05 1.25592188e+05
 1.28166000e+05 1.31634212e+05 1.35627640e+05 1.39382740e+05
 1.41886840e+05 1.44745108e+05 1.48077024e+05 1.51367552e+05
 1.54736400e+05 1.58242748e+05 1.60943008e+05 1.65313928e+05
 1.68787208e+05 1.72452120e+05 1.76574400e+05 1.80551376e+05
 1.84418016e+05 1.88519048e+05 1.92396000e+05 1.97130076e+05
 2.02309792e+05 2.06089908e+05 2.10376536e+05 2.14721040e+05
 2.18490080e+05 2.23504668e+05 2.27719152e+05 2.32330764e+05
 2.36849720e+05 2.41539120e+05 2.47176856e+05 2.51750392e+05
 2.56157600e+05 2.61374900e+05 2.65424120e+05 2.69759312e+05
 2.75576920e+05 2.81123052e+05 2.87700800e+05 2.92720112e+05
 2.99605840e+05 3.07380312e+05 3.12328328e+05 3.19577800e+05
 3.27657120e+05 3.35417928e+05 3.44659656e+05 3.54108224e+05
 3.62999600e+05 3.70108608e+05 3.79040168e+05 3.89446160e+05
 3.99926296e+05 4.07953620e+05 4.18753776e+05 4.27969656e+05
 4.37488496e+05 4.48514352e+05 4.59372960e+05 4.70683120e+05
 4.84611920e+05 4.97039944e+05 5.09215000e+05 5.23631300e+05
 5.40363600e+05 5.57002392e+05 5.70653168e+05 5.90582040e+05
 6.04813200e+05 6.24274272e+05 6.40642688e+05 6.56995776e+05
 6.71626200e+05 6.88167780e+05 7.10157680e+05 7.30373652e+05
 7.51682208e+05 7.72066132e+05 7.91031080e+05 8.13478168e+05
 8.34427424e+05 8.62403992e+05 8.92798032e+05 9.25074340e+05
 9.60546536e+05 1.00590150e+06 1.04277182e+06 1.08863082e+06
 1.12207400e+06 1.16647063e+06 1.21427034e+06 1.27177318e+06
 1.33258326e+06 1.38699790e+06 1.49350812e+06 1.63793764e+06
 1.83314467e+06 2.13370404e+06 2.39033224e+06 2.61594830e+06
 2.79392168e+06 2.95269418e+06 3.08655529e+06 3.21912234e+06
 3.38022596e+06 3.56286320e+06 3.84628874e+06 4.12327894e+06
 4.45718628e+06 4.86948234e+06 5.23614783e+06 5.57102274e+06
 5.89421789e+06 6.30349788e+06 6.68701322e+06 7.28283546e+06
 2.80127505e+07 3.39944622e+07 6.25056460e+07]





Binning with equal width...........
(-62421.562, 250106.248]        11865
(250106.248, 500128.496]         2243
(500128.496, 750150.744]         1070
(750150.744, 1000172.992]         659
(1000172.992, 1250195.24]         411
                                ...
(13751307.64, 14001329.888]         0
(14001329.888, 14251352.136]        0
(27002486.784, 27252509.032]        0
(25752375.544, 26002397.792]        0
(38503510.192, 38753532.44]         0
Name: Total Volume, Length: 250, dtype: int64

[-6.24215620e+04  2.50106248e+05  5.00128496e+05  7.50150744e+05
  1.00017299e+06  1.25019524e+06  1.50021749e+06  1.75023974e+06
  2.00026198e+06  2.25028423e+06  2.50030648e+06  2.75032873e+06
  3.00035098e+06  3.25037322e+06  3.50039547e+06  3.75041772e+06
  4.00043997e+06  4.25046222e+06  4.50048446e+06  4.75050671e+06
  5.00052896e+06  5.25055121e+06  5.50057346e+06  5.75059570e+06
  6.00061795e+06  6.25064020e+06  6.50066245e+06  6.75068470e+06
  7.00070694e+06  7.25072919e+06  7.50075144e+06  7.75077369e+06
  8.00079594e+06  8.25081818e+06  8.50084043e+06  8.75086268e+06
  9.00088493e+06  9.25090718e+06  9.50092942e+06  9.75095167e+06
  1.00009739e+07  1.02509962e+07  1.05010184e+07  1.07510407e+07
  1.10010629e+07  1.12510852e+07  1.15011074e+07  1.17511297e+07
  1.20011519e+07  1.22511742e+07  1.25011964e+07  1.27512186e+07
  1.30012409e+07  1.32512631e+07  1.35012854e+07  1.37513076e+07
  1.40013299e+07  1.42513521e+07  1.45013744e+07  1.47513966e+07
  1.50014189e+07  1.52514411e+07  1.55014634e+07  1.57514856e+07
  1.60015079e+07  1.62515301e+07  1.65015524e+07  1.67515746e+07
  1.70015969e+07  1.72516191e+07  1.75016414e+07  1.77516636e+07
  1.80016859e+07  1.82517081e+07  1.85017304e+07  1.87517526e+07
  1.90017748e+07  1.92517971e+07  1.95018193e+07  1.97518416e+07
  2.00018638e+07  2.02518861e+07  2.05019083e+07  2.07519306e+07
  2.10019528e+07  2.12519751e+07  2.15019973e+07  2.17520196e+07
  2.20020418e+07  2.22520641e+07  2.25020863e+07  2.27521086e+07
  2.30021308e+07  2.32521531e+07  2.35021753e+07  2.37521976e+07
  2.40022198e+07  2.42522421e+07  2.45022643e+07  2.47522866e+07
  2.50023088e+07  2.52523310e+07  2.55023533e+07  2.57523755e+07
  2.60023978e+07  2.62524200e+07  2.65024423e+07  2.67524645e+07
  2.70024868e+07  2.72525090e+07  2.75025313e+07  2.77525535e+07
  2.80025758e+07  2.82525980e+07  2.85026203e+07  2.87526425e+07
  2.90026648e+07  2.92526870e+07  2.95027093e+07  2.97527315e+07
  3.00027538e+07  3.02527760e+07  3.05027983e+07  3.07528205e+07
  3.10028428e+07  3.12528650e+07  3.15028872e+07  3.17529095e+07
  3.20029317e+07  3.22529540e+07  3.25029762e+07  3.27529985e+07
  3.30030207e+07  3.32530430e+07  3.35030652e+07  3.37530875e+07
  3.40031097e+07  3.42531320e+07  3.45031542e+07  3.47531765e+07
  3.50031987e+07  3.52532210e+07  3.55032432e+07  3.57532655e+07
  3.60032877e+07  3.62533100e+07  3.65033322e+07  3.67533545e+07
  3.70033767e+07  3.72533990e+07  3.75034212e+07  3.77534434e+07
  3.80034657e+07  3.82534879e+07  3.85035102e+07  3.87535324e+07
  3.90035547e+07  3.92535769e+07  3.95035992e+07  3.97536214e+07
  4.00036437e+07  4.02536659e+07  4.05036882e+07  4.07537104e+07
  4.10037327e+07  4.12537549e+07  4.15037772e+07  4.17537994e+07
  4.20038217e+07  4.22538439e+07  4.25038662e+07  4.27538884e+07
  4.30039107e+07  4.32539329e+07  4.35039552e+07  4.37539774e+07
  4.40039996e+07  4.42540219e+07  4.45040441e+07  4.47540664e+07
  4.50040886e+07  4.52541109e+07  4.55041331e+07  4.57541554e+07
  4.60041776e+07  4.62541999e+07  4.65042221e+07  4.67542444e+07
  4.70042666e+07  4.72542889e+07  4.75043111e+07  4.77543334e+07
  4.80043556e+07  4.82543779e+07  4.85044001e+07  4.87544224e+07
  4.90044446e+07  4.92544669e+07  4.95044891e+07  4.97545114e+07
  5.00045336e+07  5.02545558e+07  5.05045781e+07  5.07546003e+07
  5.10046226e+07  5.12546448e+07  5.15046671e+07  5.17546893e+07
  5.20047116e+07  5.22547338e+07  5.25047561e+07  5.27547783e+07
  5.30048006e+07  5.32548228e+07  5.35048451e+07  5.37548673e+07
  5.40048896e+07  5.42549118e+07  5.45049341e+07  5.47549563e+07
  5.50049786e+07  5.52550008e+07  5.55050231e+07  5.57550453e+07
  5.60050676e+07  5.62550898e+07  5.65051120e+07  5.67551343e+07
  5.70051565e+07  5.72551788e+07  5.75052010e+07  5.77552233e+07
  5.80052455e+07  5.82552678e+07  5.85052900e+07  5.87553123e+07
  5.90053345e+07  5.92553568e+07  5.95053790e+07  5.97554013e+07
  6.00054235e+07  6.02554458e+07  6.05054680e+07  6.07554903e+07
  6.10055125e+07  6.12555348e+07  6.15055570e+07  6.17555793e+07
  6.20056015e+07  6.22556238e+07  6.25056460e+07]

                                bin          mean
0                [84.0, 250106.248)  5.786160e+04
11865      [250106.248, 500128.496)  3.537238e+05
14108      [500128.496, 750150.744)  6.173705e+05
15178     [750150.744, 1000172.992)  8.566669e+05
15837     [1000172.992, 1250195.24)  1.117162e+06
...                             ...           ...
18245   [46254199.88, 46504222.128)  4.632453e+07
18246   [47254288.872, 47504311.12)  4.729392e+07
18247   [52254733.832, 52504756.08)  5.228870e+07
18248   [61005512.512, 61255534.76)  6.103446e+07
18249  [62255623.752, 62568151.562)  6.250565e+07

[118 rows x 2 columns]

                                bin      median
0                [84.0, 250106.248)     18536.0
11865      [250106.248, 500128.496)    343757.0
14108      [500128.496, 750150.744)    616383.0
15178     [750150.744, 1000172.992)    846864.0
15837     [1000172.992, 1250195.24)   1110895.0
...                             ...         ...
18245   [46254199.88, 46504222.128)  46324529.0
18246   [47254288.872, 47504311.12)  47293921.0
18247   [52254733.832, 52504756.08)  52288697.0
18248   [61005512.512, 61255534.76)  61034457.0
18249  [62255623.752, 62568151.562)  62505646.0

[118 rows x 2 columns]

                               bin  bin_boundary
0                (83.999, 935.992]  8.399900e+01
6                (83.999, 935.992]  9.359920e+02
73             (935.992, 1117.992]  9.359920e+02
106            (935.992, 1117.992]  1.117992e+03
146             (1117.992, 1233.0]  1.117992e+03
...                            ...           ...
18081   (7282835.456, 28012750.52]  2.801275e+07
18104  (28012750.52, 33994462.196]  2.801275e+07
18136  (28012750.52, 33994462.196]  3.399446e+07
18177   (33994462.196, 62505646.0]  3.399446e+07
18247   (33994462.196, 62505646.0]  6.250565e+07

[500 rows x 2 columns]

b. The dataset represents weekly retail scan data for National retail volume (units) and price. However,
the company is interested in knowing the monthly (total per month) and annual sales (total per year),
rather than the total per week. So, reduce the data accordingly.

In [ ]:
import pandas as pd

from IPython.display import Javascript
display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))

pd.set_option('display.expand_frame_repr', False)         # to prevent breaking of columns

df = pd.read_csv("Avocado_Dataset.csv", parse_dates =["Date"], index_col ="Date")
monthly_resampled_data = df.resample('M').mean()
print(monthly_resampled_data)
print('\n\n\n\n\n\n')


yearly_resampled_data = df.resample('12M').mean()
print(yearly_resampled_data)

            Total Volume           4046           4225          4770     Total Bags     Small Bags     Large Bags  XLarge Bags    year
Date
2015-01-31  8.303570e+05  328527.572370  347458.252870  27078.729759  127292.472556  102345.971667   24091.092000   855.408889  2015.0
2015-02-28  7.359018e+05  308849.146914  279235.986173  22816.384228  125000.295401  107378.810340   17190.307778   431.177284  2015.0
2015-03-31  8.325426e+05  352764.705903  323913.518773  24039.963866  131824.391806  111019.566806   20196.701481   608.123519  2015.0
2015-04-30  7.730750e+05  300581.209282  319079.063796  24492.656713  128922.029444  104686.260718   23443.995949   791.772778  2015.0
2015-05-31  8.517748e+05  372357.014611  307569.349481  24876.348611  146972.093944  126208.858815   20128.942889   634.292241  2015.0
2015-06-30  8.380272e+05  327336.630853  323108.449852  27316.375900  160265.753191  133404.682560   25944.276438   916.794193  2015.0
2015-07-31  8.268680e+05  340477.575000  311702.395031  27208.239568  147479.782500  122491.612315   24039.350309   948.816790  2015.0
2015-08-31  7.602918e+05  295736.541944  311726.058194  24199.940926  128629.254660  108496.025833   19143.572130   989.656698  2015.0
2015-09-30  7.615738e+05  251112.248102  355168.667963  26939.066134  128353.808056  100213.706574   26814.124329  1325.974838  2015.0
2015-10-31  7.703667e+05  279521.721049  330040.684043  27115.532500  133688.713210  108537.757006   24524.704043   626.252160  2015.0
2015-11-30  6.752609e+05  231417.712481  285747.665463  23959.447741  134136.027389  105890.127407   27331.591444   914.308537  2015.0
2015-12-31  7.213852e+05  270855.915481  272738.099907  25511.634852  152279.501778  121759.982278   28330.789241  2188.728407  2015.0
2016-01-31  9.122451e+05  254904.084213  361707.015787  36386.170718  259247.868704  189617.228032   66615.088727  3015.551944  2016.0
2016-02-29  8.543227e+05  262243.590347  302774.019815  32025.754051  257279.321042  188324.875093   67262.687569  1691.758380  2016.0
2016-03-31  9.238809e+05  280563.427114  340094.916960  42460.497392  260762.098503  196263.318488   60480.480448  4018.299568  2016.0
2016-04-30  9.192927e+05  306236.259259  307653.423796  27417.447153  277985.577083  206790.231019   68971.309838  2224.036227  2016.0
2016-05-31  9.886771e+05  311765.313079  349516.165718  41732.619074  285662.989398  209868.352130   70409.522384  5385.114884  2016.0
2016-06-30  8.372444e+05  274495.088843  281915.287407  33602.380787  247231.643218  193492.428796   48785.740347  4953.474074  2016.0
2016-07-31  9.160208e+05  289791.382315  317934.677407  29469.942630  278824.792241  221052.860167   50962.686519  6809.245556  2016.0
2016-08-31  9.367246e+05  314950.318287  313794.956944  24339.143704  283640.132106  224719.931389   55496.819398  3423.381319  2016.0
2016-09-30  7.608112e+05  254204.143549  240139.590154  12526.318611  253941.105309  189608.604043   62318.311698  2014.189568  2016.0
2016-10-31  7.607734e+05  239937.347099  255681.900602  23036.982130  242117.152685  179319.756682   59461.718981  3335.677022  2016.0
2016-11-30  6.931428e+05  227423.476407  223160.454981  11033.484870  231525.420259  176489.593944   53713.489407  1322.336907  2016.0
2016-12-31  8.025552e+05  250479.425463  272742.024414  21757.967623  257575.756944  194676.104660   58918.963426  3980.688858  2016.0
2017-01-31  9.222488e+05  301033.947815  309081.366259  16736.106796  295395.278352  222905.026907   70569.135056  1921.116389  2017.0
2017-02-28  9.111301e+05  299624.593634  273169.810718  19900.223495  318435.461852  240835.901991   72378.251574  5221.308287  2017.0
2017-03-31  7.948497e+05  269231.187431  248045.701181  14954.034537  262615.834931  200825.547176   57650.370556  4139.914884  2017.0
2017-04-30  9.301269e+05  310714.784954  268352.140324  16439.264977  334620.755556  247326.128495   82417.829282  4876.797778  2017.0
2017-05-31  9.915813e+05  335000.878133  305474.643318  20267.776929  330836.137901  246521.215046   80153.636636  4161.286219  2017.0
2017-06-30  9.156238e+05  304094.507981  281392.671398  17805.275497  312329.826677  226930.964658   77681.743571  7717.118447  2017.0
2017-07-31  9.111447e+05  309142.483079  298530.798310  17798.010370  285648.582870  201635.501667   77357.182917  6655.898287  2017.0
2017-08-31  7.795452e+05  257432.496333  253699.435222  13571.798037  254838.016278  186609.682222   63817.099019  4411.235037  2017.0
2017-09-30  7.890992e+05  260859.917569  245714.189722  14214.608588  268306.966042  205078.222315   58903.098750  4325.644977  2017.0
2017-10-31  7.363698e+05  245865.163241  241620.924981  10808.061333  238069.476630  177657.319407   58192.042296  2220.114926  2017.0
2017-11-30  7.713225e+05  274393.089198  215477.369753  12188.853117  269256.013549  191970.735031   73256.351481  4028.917778  2017.0
2017-12-31  8.597372e+05  289477.130293  271265.508935  15757.139120  283233.267253  212223.196034   67927.972762  3082.089198  2017.0
2018-01-31  1.015154e+06  332922.631420  323590.176759  17950.152006  340687.644167  245919.142840   90980.401235  3788.100093  2018.0
2018-02-28  9.769572e+05  329911.159907  272906.773519  15970.507222  358156.031806  260332.451019   91435.958796  6387.621991  2018.0
2018-03-31  1.068935e+06  335142.902442  295900.543825  17506.104332  420369.453410  317186.542304   96206.003364  6976.907742  2018.0
2018-04-30  1.301031e+06  436265.964259  406779.135185  20127.690046  437846.698611  315926.791528  115506.975833  6412.931250  2018.0
2018-05-31           NaN            NaN            NaN           NaN            NaN            NaN            NaN          NaN     NaN
2018-06-30           NaN            NaN            NaN           NaN            NaN            NaN            NaN          NaN     NaN
2018-07-31  9.333069e+05  332015.000000  275237.893796  17026.806204  309024.156481  225065.793981   80329.341852  3629.020648  2018.0
2018-08-31           NaN            NaN            NaN           NaN            NaN            NaN            NaN          NaN     NaN
2018-09-30           NaN            NaN            NaN           NaN            NaN            NaN            NaN          NaN     NaN
2018-10-31           NaN            NaN            NaN           NaN            NaN            NaN            NaN          NaN     NaN
2018-11-30  1.060383e+06  363689.667685  287818.008056  17045.440833  391824.639861  293829.159537   91919.532500  6075.947824  2018.0







            Total Volume           4046           4225          4770     Total Bags     Small Bags    Large Bags  XLarge Bags         year
Date
2015-01-31  8.303570e+05  328527.572370  347458.252870  27078.729759  127292.472556  102345.971667  24091.092000   855.408889  2015.000000
2016-01-31  7.864837e+05  298195.688513  314088.253203  26124.696973  148075.064669  120089.072649  26844.911772  1141.079702  2015.078446
2017-01-31  8.603799e+05  275604.937061  294090.635038  26764.241253  263919.852821  200025.910489  60439.545189  3454.397144  2016.094340
2018-01-31  8.654561e+05  290110.194748  269283.327101  15981.812452  290075.934206  214722.414206  70960.653324  4392.864860  2017.058845
2019-01-31  1.083088e+06  362420.202333  311322.668613  17591.722035  391742.540874  288875.313751  96717.949178  6149.277945  2018.000000

c. Summarize the number of missing values for each attribute

In [ ]:
import pandas as pd

from IPython.display import Javascript
display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))

df = pd.read_csv("Avocado_Dataset.csv", parse_dates =["Date"], index_col ="Date")

print(df.isna().sum())

AveragePrice    30
Total Volume     0
4046             0
4225             0
4770             0
Total Bags       0
Small Bags       0
Large Bags       0
XLarge Bags      0
type             0
year             0
region           0
dtype: int64

d. Populate data for the missing values of the attribute= “Average Price” by averaging all the values of
the “Avg Price” attribute that fall under the same “REGION” attribute value.

In [ ]:
import pandas as pd
import numpy as np


from IPython.display import Javascript
display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))

df = pd.read_csv("Avocado_Dataset.csv")

region_avg_price = df.groupby("region").mean("AveragePrice")
# df['AveragePrice'] = df['AveragePrice'].fillna(df.groupby('region')['AveragePrice'].transform('mean'))

df["AveragePrice"] = df.apply(
    lambda row: region_avg_price.loc[row["region"]] 
    if not row["AveragePrice"] 
    else row["AveragePrice"],
    axis=1
  )

print(df)

             Date AveragePrice  Total Volume     4046       4225    4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  year            region
0      27-12-2015         1.33      64236.62  1036.74   54454.85   48.16     8696.87     8603.62       93.25          0.0  conventional  2015            Albany
1      20-12-2015         1.35      54876.98   674.28   44638.81   58.33     9505.56     9408.07       97.49          0.0  conventional  2015            Albany
2      13-12-2015         0.93     118220.22   794.70  109149.67  130.50     8145.35     8042.21      103.14          0.0  conventional  2015            Albany
3      06-12-2015         1.08      78992.15  1132.00   71976.41   72.58     5811.16     5677.40      133.76          0.0  conventional  2015            Albany
4      29-11-2015         1.29      51039.60   941.48   43838.39   75.78     6183.95     5986.26      197.69          0.0  conventional  2015            Albany
...           ...          ...           ...      ...        ...     ...         ...         ...         ...          ...           ...   ...               ...
18245  28-01-2018         1.71      13888.04  1191.70    3431.50    0.00     9264.84     8940.04      324.80          0.0       organic  2018  WestTexNewMexico
18246  21-01-2018         1.87      13766.76  1191.92    2452.79  727.94     9394.11     9351.80       42.31          0.0       organic  2018  WestTexNewMexico
18247  14-01-2018         1.93      16205.22  1527.63    2981.04  727.01    10969.54    10919.54       50.00          0.0       organic  2018  WestTexNewMexico
18248  07-01-2018         1.62      17489.58  2894.77    2356.13  224.53    12014.15    11988.14       26.01          0.0       organic  2018  WestTexNewMexico
18249  18-03-2018         1.56      15896.38  2055.35    1499.55    0.00    12341.48    12114.81      226.67          0.0       organic  2018  WestTexNewMexico

[18250 rows x 13 columns]

e. Discretize the attribute= “Date” using concept hierarchy into {Old, New, Recent} (Consider
2015,2016 : Old, 2017: New, 2018: Recent).

In [ ]:
import pandas as pd

from IPython.display import Javascript
display(Javascript('google.colab.output.setIframeHeight(0, true, {maxHeight: 5000})'))

def classify_year(year):
  year = int(year)
  if year == 2015 or year == 2016:
    return "Old"
  elif year == 2017:
    return "New"
  elif year == 2018:
    return "Recent"
  else:
    return "Unknown"


df = pd.read_csv("Avocado_Dataset.csv")

df['Date'] =  pd.to_datetime(df['Date'], format='%d-%m-%Y')
df["Discrete_Date"] = df.apply(lambda row: classify_year(row["Date"].strftime("%Y")), axis=1)
print(df)

            Date AveragePrice  Total Volume     4046       4225    4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  year            region Discrete_Date
0     2015-12-27         1.33      64236.62  1036.74   54454.85   48.16     8696.87     8603.62       93.25          0.0  conventional  2015            Albany           Old
1     2015-12-20         1.35      54876.98   674.28   44638.81   58.33     9505.56     9408.07       97.49          0.0  conventional  2015            Albany           Old
2     2015-12-13         0.93     118220.22   794.70  109149.67  130.50     8145.35     8042.21      103.14          0.0  conventional  2015            Albany           Old
3     2015-12-06         1.08      78992.15  1132.00   71976.41   72.58     5811.16     5677.40      133.76          0.0  conventional  2015            Albany           Old
4     2015-11-29         1.29      51039.60   941.48   43838.39   75.78     6183.95     5986.26      197.69          0.0  conventional  2015            Albany           Old
...          ...          ...           ...      ...        ...     ...         ...         ...         ...          ...           ...   ...               ...           ...
18245 2018-01-28         1.71      13888.04  1191.70    3431.50    0.00     9264.84     8940.04      324.80          0.0       organic  2018  WestTexNewMexico        Recent
18246 2018-01-21         1.87      13766.76  1191.92    2452.79  727.94     9394.11     9351.80       42.31          0.0       organic  2018  WestTexNewMexico        Recent
18247 2018-01-14         1.93      16205.22  1527.63    2981.04  727.01    10969.54    10919.54       50.00          0.0       organic  2018  WestTexNewMexico        Recent
18248 2018-01-07         1.62      17489.58  2894.77    2356.13  224.53    12014.15    11988.14       26.01          0.0       organic  2018  WestTexNewMexico        Recent
18249 2018-03-18         1.56      15896.38  2055.35    1499.55    0.00    12341.48    12114.81      226.67          0.0       organic  2018  WestTexNewMexico        Recent

[18250 rows x 14 columns]